* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
.browsehappy {
  height: 40px;
  line-height: 40px;
  background: #F3F3A9;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.browsehappy a {
  margin-left: 5px;
}
.cpx-container {
  width: 100%;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.cpx-main {
  width: 100%;
  position: relative;
  height: 100%;
}
.cpx-left {
  width: 80px;
  float: left;
}
.cpx-left .cpx-left-nav {
  width: 100%;
  background: #314055;
  height: 100%;
}
.cpx-left .cpx-left-nav ul {
  height: 100%;
}
.cpx-left .cpx-left-nav ul li {
  text-align: center;
  margin-bottom: 30px;
}
.cpx-left .cpx-left-nav ul li a {
  color: #fff;
}
.cpx-left .cpx-left-nav ul li a.active {
  background: red;
}
.cpx-right {
  float: left;
  padding-left: 20px;
}
