*,
div,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}
.browsehappy {
  height: 40px;
  line-height: 40px;
  background: #F3F3A9;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.browsehappy a {
  margin-left: 5px;
}
.cpx-container {
  width: 100%;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.cpx-main {
  width: 100%;
  position: relative;
  height: 100%;
}
.cpx-left {
  width: 80px;
  float: left;
}
.cpx-left .cpx-left-nav {
  width: 100%;
  background: #314055;
  height: 100%;
}
.cpx-left .cpx-left-nav ul {
  height: 100%;
  padding-top: 50px;
}
.cpx-left .cpx-left-nav ul li {
  text-align: center;
  margin-bottom: 30px;
}
.cpx-left .cpx-left-nav ul li a {
  color: #fff;
}
.cpx-left .cpx-left-nav ul li a.active {
  background: red;
}
.cpx-right {
  float: left;
  padding: 0px 20px;
}
.baseData {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px 30px;
  margin-top: 20px;
}
.baseData h3 {
  display: inline-block;
}
.baseData .baseTime {
  margin-bottom: 20px;
}
.baseData .baseTime input {
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.baseData .baseTime span {
  margin: 0 5px;
  color: #888;
}
.baseData .baseTime span.time {
  margin-left: 50px;
  color: #555;
}
.baseData .baseDataList {
  width: 100%;
  overflow: hidden;
}
.baseData .baseDataList ul {
  overflow: hidden;
  padding: 30px;
  background: #F3F1F1;
}
.baseData .baseDataList ul li {
  float: left;
  width: 20%;
  text-align: center;
  color: #444;
  border-left: 1px solid #ccc;
}
.baseData .baseDataList ul li:nth-child(1) {
  border-left: none;
}
.baseData .baseDataList ul li span {
  display: block;
  margin-bottom: 10px;
  color: #3d9ad1;
  font-size: 16px;
}
