<div ng-controller="indexCtrl">
	<div class="baseData container">
		<div class="baseTime">
			<h3>基础数据</h3>
			<span class="time">时间</span>
			<input size="16" type="text" ng-model="startTime" readonly class="startTime" data-date-format="yyyy-mm-dd" datepicker>
			<span>至</span>
			<input size="16" type="text" ng-model="endTime" readonly class="endTime" data-date-format="yyyy-mm-dd" datepicker>
			<button type="button" class="btn btn-default" ng-click="search()">search</button>
		</div>
		<div class="baseDataList">
			<ul>
				<li ng-repeat="item in dataList">
					<span>{{ item.number }}</span>
					{{ item.type }}
				</li>
			</ul>
		</div>
	</div>

	<div class="todayNumber">
		今日统计
	</div>

	<div class="liveNumber">
		活跃用户
	</div>
</div>